{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>DBMS Project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" />
    <link rel="stylesheet" href="{% static 'movie/assets/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'movie/assets/css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'movie/assets/css/harry.css' %}">
    <link rel="stylesheet" href="{% static 'movie/assets/css/magnific-popup.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'movie/assets/css/home_style.css' %}"/>

    <!--
	The Town
	https://templatemo.com/tm-525-the-town
	-->
  </head>
  <body>    
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
      <!-- Navigation -->

      
      <div class="text-center tm-hero-text-container">
        <div class="tm-hero-text-container-inner">
            <h2 style = "font-family: harry; font-size: 120px; color: black;" class="tm-hero-title">IMDB Watchlist</h2>
            <p class="tm-hero-subtitle text-dark">
              DBMS Project
              <br />
            </p>
        </div>        
      </div>

      <div class="tm-next tm-intro-next">
        <a href="#introduction" class="text-center tm-down-arrow-link">
          <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
        </a>
      </div>      
    </section>

    <section id="introduction" class="tm-section-pad-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'movie/assets/img/pulp.jpg' %}" alt="Image" class="img-fluid tm-intro-img" />
          </div>
          <div class="col-lg-6">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                <p class="mb-4 tm-intro-text">
                 This is a DBMS Project made for submission of CA702 DBMS Lab. This project stores and shows information about movies, actors and tv shows. Much like an Extension over IMDB.
              </p>
                <p class="mb-5 tm-intro-text">
                  Submitted to - <strong>Dr. Jitendra kumar</strong>
                  <br>
                  Submitted by - <strong>Manish Pandey (205120049)</strong>
                  </p>
                <div class="tm-next">
                  <a style="text-decoration: None;" href="{% url 'movies-all' %}" class="tm-intro-text tm-btn-primary">Explore</a>
                </div>
            </div>
          </div>
        </div>

        <div class="row tm-section-pad-top">
          <div class="col-lg-4">
            <i class="fas fa-4x fa-film text-center tm-icon"></i>
            <h4 class="text-center tm-text-primary mb-4">Movies</h4>
            <p>
              Browse Movies by genre, actor, director, rating, year. See the countdown for the upcoming releases. 
            </p>
          </div>
        
        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-tv text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">TV Shows</h4>
          <p>
            Browse TV shows by genre, rating, year, popularity, cast, creator. Discover various networks and their new/old releases.
          </p>
        </div>
        <div class="col-lg-4 mt-5 mt-lg-0">
          <i class="fas fa-4x fa-trophy text-center tm-icon"></i>
          <h4 class="text-center tm-text-primary mb-4">Awards</h4>
          <p>
            Information about Oscars / Golden globe for all Movie/ TV shows involved.
          </p>
        </div>
      </div>
    </section>
    <section id="work" class="tm-section-pad-top">
      <div class="container tm-container-gallery">
        <div class="row">
          <div class="text-center col-12">
              <h2 class="tm-text-primary tm-section-title mb-4">Work</h2>
              <p class="mx-auto tm-work-description">
                Some examples
              </p>
          </div>            
        </div>
        <div class="row">
            <div class="col-12"> 
                <div class="mx-auto tm-gallery-container">
                    <div class="grid tm-gallery">
                      <a href="{% static 'movie/assets/img/walleposter.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/walleposter.jpg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">Wall-E<span ></span> (2008)</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'movie/assets/img/godfatherposter.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/godfatherposter.jpg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">The Godfather <span></span> (1972)</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'movie/assets/img/avatar2poster.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/avatar2poster.jpg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">Avatar 2 <span></span> (2022)</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'movie/assets/img/f9poster.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/f9poster.jpg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">F9 <span></span> (2021)</i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'movie/assets/img/gotposter.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/gotposter.jpg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">Game of Thrones <span></span> </i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'movie/assets/img/bbposter.jpeg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/bbposter.jpeg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">Breaking Bad <span></span></i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'movie/assets/img/mirzapurposter.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/mirzapurposter.jpg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">Mirzapur <span></span> </i></h2>
                          </figcaption>
                        </figure>
                      </a>
                      <a href="{% static 'movie/assets/img/moneyheistposter.jpg' %}">
                        <figure class="effect-honey tm-gallery-item">
                          <img src="{% static 'movie/assets/img/moneyheistposter.jpg' %}" alt="Image" class="img-fluid">
                          <figcaption>
                            <h2><i style="font-size: 28px;">Money Heist <span></span> </i></h2>
                          </figcaption>
                        </figure>
                      </a>
                    </div>
                </div>                
            </div>        
          </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
      <div class="container tm-container-contact">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4 tm-section-title">Contact Us</h2>
                <div class="mb-5 tm-underline">
                  <div class="tm-underline-inner"></div>
                </div>
                <p class="mb-5"></p>
                  This Project will be extended, up to the mark where it can be useful for others, not just as a academic formality. 
                </p>
            </div>
            
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="tel:6386462036" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-phone mr-4"></i>
                  <span class="mb-0">6386462036</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="https://goo.gl/maps/8CtN9ZRD8JgBY6jp7" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                  <span class="mb-0">Location on Maps</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <a href="mailto:mnkp.qc@gmail.com" class="tm-contact-item-link">
                  <i class="fas fa-3x fa-envelope mr-4"></i>
                  <span class="mb-0">mnkp.qc@gmail.com</span>
              </a>              
            </div>
            <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
              <form action="" method="get">
                <input name="msg" type="text" placeholder="Message" class="tm-input" required />
                <button type="submit" class="btn tm-btn-submit">Send</button>
              </form>
            </div>
        </div>
      </div>
    </section>
    <script src="{% static 'movie/assets/js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'movie/assets/js/slick.js' %}"></script>
    <script src="{% static 'movie/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'movie/assets/js/jquery.singlePageNav.min.js' %}"></script>{% static 'movie/assets/
    <script>

      function getOffSet(){
        var _offset = 450;
        var windowHeight = window.innerHeight;

        if(windowHeight > 500) {
          _offset = 400;
        } 
        if(windowHeight > 680) {
          _offset = 300
        }
        if(windowHeight > 830) {
          _offset = 210;
        }

        return _offset;
      }

      function setParallaxPosition($doc, multiplier, $object){
        var offset = getOffSet();
        var from_top = $doc.scrollTop(),
          bg_css = 'center ' +(multiplier * from_top - offset) + 'px';
        $object.css({"background-position" : bg_css });
      }

      // Parallax function
      // Adapted based on https://codepen.io/roborich/pen/wpAsm        
      var background_image_parallax = function($object, multiplier, forceSet){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        // $object.css({"background-attatchment" : "fixed"});

        if(forceSet) {
          setParallaxPosition($doc, multiplier, $object);
        } else {
          $(window).scroll(function(){          
            setParallaxPosition($doc, multiplier, $object);
          });
        }
      };

      var background_image_parallax_2 = function($object, multiplier){
        multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
        multiplier = 1 - multiplier;
        var $doc = $(document);
        $object.css({"background-attachment" : "fixed"});
        $(window).scroll(function(){
          var firstTop = $object.offset().top,
              pos = $(window).scrollTop(),
              yPos = Math.round((multiplier * (firstTop - pos)) - 186);              

          var bg_css = 'center ' + yPos + 'px';

          $object.css({"background-position" : bg_css });
        });
      };
      
      $(function(){
        // Hero Section - Background Parallax
        background_image_parallax($(".tm-parallax"), 0.30, false);
        background_image_parallax_2($("#contact"), 0.80);   
        
        // Handle window resize
        window.addEventListener('resize', function(){
          background_image_parallax($(".tm-parallax"), 0.30, true);
        }, true);

        // Detect window scroll and update navbar
        $(window).scroll(function(e){          
          if($(document).scrollTop() > 120) {
            $('.tm-navbar').addClass("scroll");
          } else {
            $('.tm-navbar').removeClass("scroll");
          }
        });
        
        // Close mobile menu after click 
        $('#tmNav a').on('click', function(){
          $('.navbar-collapse').removeClass('show'); 
        })

        // Scroll to corresponding section with animation
        $('#tmNav').singlePageNav();        
        
        // Add smooth scrolling to all links
        // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
        $("a").on('click', function(event) {
          if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;

            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 400, function(){
              window.location.hash = hash;
            });
          } // End if
        });

        // Pop up
        $('.tm-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          gallery: { enabled: true }
        });

        // Gallery
        $('.tm-gallery').slick({
          dots: true,
          infinite: false,
          slidesToShow: 5,
          slidesToScroll: 2,
          responsive: [
          {
            breakpoint: 1199,
            settings: {
              slidesToShow: 4,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 991,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 767,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
        ]
        });
      });
    </script>

</body>
</html>