{% extends 'movie/base.html' %}

{% block content %}
    <div class="container" style="color: var(--bs-dark);">
        <h1 style="font-family: Montserrat, sans-serif;color: var(--bs-dark);">Movies&nbsp;</h1>
        <div><span style="color: var(--bs-dark);">Filter &nbsp;</span>
        <form action="/movies/filter" method="GET">
            {{ form2 }}
            <input class="btn btn-outline-dark" type="submit" value="Go" style="padding-top: 0;padding-right: 0;padding-bottom: 0;padding-left: 0;margin-left: 65px;width: 47.4px;border-radius: 19px;font-family: 'Autour One', serif;">
        </div>
    </div>
    <div class="container" style="margin-top: 34px;color: var(--bs-dark);">
        <div class="row" style="color: var(--bs-dark);">
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <h1>Results</h1>
                        <hr>
                    </div>
                </div>
                {% for m in mvs %}
                <div class="container card mt-2 md-2" style="color: var(--bs-dark);">
                    <div class="row">
                        <div class="col-2"><img class="img-thumbnail img-fluid" src="{{ m.movie_poster }}" height="128" width="160" /></div>
                        <div class="col-10">
                            <div style="text-align: left;">
                                <a style="text-decoration: None; color: inherit;" href="{% url 'movie_detail' m.movie_slug %}">
                                <p style="color: var(--bs-dark);font-size: 24px;margin-bottom: 0px;"> {{ m.movie_title }} ( {{ m.movie_year }} )&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<i class="fab fa-imdb" style="font-size: 24px;"></i>&nbsp;{{ m.movie_imdb }}/10&nbsp; &nbsp;</p></a>
                            </div>
                            <div>
                                <p style="font-size: 10px; " class="text-muted">{{ m.movie_rating }} | {{ m.movie_year }}  | {% for mg in m.moviegenre_set.all %} {{ mg.mg_genre }}, {% endfor %}   </p>
                                <p>Released on : {{ m.movie_release|date:'d M Y' }} <br /></p>
                            </div>
                            <div></div>
                            <p><strong>Directed By:</strong> <a style="text-decoration: None;" href="{% url 'people_detail' m.movie_director.people_slug %}"> {{ m.movie_director.people_name }} </a></p>
                            <p><strong>Starring : </strong>{% for mg in m.moviecast_set.all %} <a style="text-decoration: None;" href="{% url 'people_detail' mg.mc_star.people_slug %}">{{ mg.mc_star.people_name }}</a>, {% endfor %}</p>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
            
    <div class="container">
        <nav style="margin-top: 32px;">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> Previous </a></li>
                {% endif %}
                <li class="page-item current"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                
                {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}"> Next </a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> » </a></li>
                {% endif %}

            </ul>
        </nav>
    </div>

{% endblock content %}