{% extends 'movie/base.html' %}

{% block content %}
 <div class="container" style="padding: 20px;text-align: center;">
        <h1> {{q.people_profession}} </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-xl-flex justify-content-xl-center align-items-xl-center" style="text-align: center;padding: 15px;">
                <div class="card"><img class="card-img-top w-100 d-block" src="{{q.people_img}}">
                    
                </div>
            </div>
            <div class="col-md-8" style="padding: 15px;">
                <div></div><strong><h4 class="card-title">{{q.people_name}}</h4></strong>
                <hr>
                <p>{{q.people_desc}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center" style="padding: 15px;">
                <p>Profession : {{ q.people_profession }} <br /><br />Age: <span id="age"></span> Years<br /><br /></p>
            </div>
            <div class="col" style="padding: 15px;">
                <div>
                    <h4>Famous for </h4>
                    <br>
                    <div class="row row-cols-1 row-cols-md-3 g-4">

                    {% for fm in q.movie_set.all %}
                        <ul class="list-group">
                            <a style="text-decoration: None; color: inherit;" href="{% url 'movie_detail' fm.movie_slug %}"> <li class="list-group-item btn-outline-dark"> {{fm.movie_title}} ( {{fm.movie_year}}) </li></a>
                        </ul>
                    {% endfor %}

                    {% for fm in q.moviecast_set.all %}
                        <ul class="list-group">
                             <a style="text-decoration: None; color: inherit;" href="{% url 'movie_detail' fm.mc_movie.movie_slug %}" ><li class="list-group-item btn-outline-dark"> {{fm.mc_movie.movie_title}} ( {{fm.mc_movie.movie_year}}) </li></a>
                        </ul>
                    {% endfor %}
                        
                        
                    </div>
                </div>
                <hr>
                <h4> Awards</h4>
                <p>Won {award_name} for {Movie}&nbsp; &nbsp;(Oscar only)</p>
            </div>
        </div>
    </div>
    <script>
    var d = {{ q.people_dob|date:'Y' }};
    var e = new Date();
    var f = e.getFullYear()-d;

    document.getElementById("age").innerText = f;
    </script>

{% endblock content %}
