
{% extends 'movie/base.html' %}

{% block content %}

    <div class="container text-center">
        <h1 style="font-family: Graduate, serif;">TV Shows</h1>
    </div>
    <div class="container">
        <h1>Search Parameters</h1>
    </div>
    <div class="container">
    {% for m in mvs %}
        <div class="row mt-2 md-2">
            <div class="col-3 col-sm-3 col-md-2 col-lg-2"><img class="img-fluid" src=" {{ m.tv_poster }} "></div>
            <div class="col">
                <h4>{{ m.tv_name }}</h4>
                <p>Created By: {{ m.tv_creator }} <br>IMDB {{ m.tv_imdb }} <br>Seasons {{ m.tv_season }} </p>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="container">
        <nav style="margin-top: 32px;">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> Previous </a></li>
                {% endif %}
                <li class="page-item current"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                
                {% if page_obj.has_next %}
                    <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}"> Next </a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"> » </a></li>
                {% endif %}

            </ul>
        </nav>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}